html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

p,
a {
  font-size: 18px;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #000000;
  --background: #151515;
  --main-color: #FE1F27;
  --alt-main: #750B0A;
  --text: #EEEEEE;
  --gredient: linear-gradient(98.73deg, var(--main-color) -52.43%, rgba(254, 31, 39, 0) 82.99%);
  --alt-gredient: linear-gradient(98.73deg, var(--main-color) -52.43%, rgba(254, 31, 39, 0) 82.99%);
  --settings-back: linear-gradient(98.73deg, var(--background) -52.43%, rgba(167, 167, 167, 0.1) 82.99%);
  --background-img:
}

/* Style the scrollbar track */


::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

body {
  background-color: var(--background);
  color: var(--background);
  width: 100%;
  height: 100vh;
  color: var(--text);
  overflow: hidden;
  background-image: var(--background-img);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
}

html.dark-mode {
  --background: #151515;
  --text: #EEEEEE;
}

html:not(.dark-mode) {
  --background: #EEEEEE;
  --text: #151515;
}

header {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  z-index: 999;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  background-color: transparent;
  border: var(--main-color);
  padding: 10px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  transition: 0.3s;

}




header nav a:hover::after {
  display: block;
}

header nav i {
  color: var(--text);
  font-size: 24px;
  padding: 25px;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .active i {
  background: var(--gredient);
  filter: blur(10%);
}

header nav .active i:hover {
  color: #EEEEEE;
}

header i:hover,
header .logo:hover {
  color: var(--alt-main);
}

.social {
  position: fixed;
  z-index: 999;
  left: 30%;
  bottom: 30px;
  transform: translate(-50%);
}

.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social ul a {
  color: var(--main-color);
  font-size: 22px;
  transition: 0.3s;
}

.social ul a:hover {
  color: var(--alt-main);
}


.settings {
  position: fixed;
  z-index: 999;
  left: 80%;
  bottom: 35px;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.settings i {
  color: var(--main-color);
  font-size: 22px;
  transition: 0.3s;
}

.settings i:hover {
  color: var(--alt-main);
}

.settings .set-list {
  transition: 0.3s;
  opacity: 0%;
  margin-bottom: 20px;

}

.settings .open {
  opacity: 100%;
  display: block;
}


.settings .set-list ul {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--alt-main);
}

.settings .set-list li {
  background: var(--settings-back);
  padding: 20px 60px 20px 20px;
  border: 1px solid var(--alt-main);
  display: flex;
  align-items: center;
  gap: 10px;
}


.settings .color span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
}

.settings .color .red {
  background-color: #FE1F27;
}

.settings .color .cyan {
  background-color: #3dcfda;
}

.settings .color .purble {
  background-color: #933dda;
}

.settings .color .active,
.settings .color span:hover {
  filter: brightness(0.5);
}

.set-list select {
  background-color: white;
  color: #000000;
}

section {
  position: absolute;
  width: 85%;
  height: 80%;
  /* background: var(--background); */
  border-radius: 20px;
  opacity: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transition: opacity 1s ease-in-out;
}


section .container {
  padding: 40px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

section .container * {
  z-index: 20;
}

.border-none {
  border: none
}

.border-normal {
  border: 1px solid var(--main-color);
}

section .border-animated * {
  z-index: 50;
}

section .border-animated::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 30%;
  background-color: var(--main-color);
  animation: rotate 4s linear infinite;
}

section .border-animated::after {
  content: ' ';
  position: absolute;
  background-color: var(--background);
  inset: 5px;
  border-radius: 20px;
}

.home {
  opacity: 100%;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home .text {
  width: 50%;
  text-align: center;
  color: var(--text);
}

.home h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.home .text h2 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 46px;
}

.home .image {
  width: 590px;
  height: 590px;
  background-image: url(/images/red.png);
  background-size: cover;
}

.home .image img {
  width: 100%;
  height: 100%;
}


.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 80px;
  overflow-y: scroll;

}

.projects .card {
  margin: auto;
  background-color: var(--text);
  border: 3px solid var(--main-color);
  color: var(--background);
  color: var(--text);
  overflow: hidden;
  max-width: 280px;
}

.projects .container .card .image img {
  width: 100%;
  height: 100%;
}

.projects .card .image {
  position: relative;
  width: 275px;
  height: 160px;
}

.projects .card .image::after {
  position: absolute;
  content: ' ';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1515158a;
  transition: 0.3s;

}

.projects .card:hover .image::after {
  background-color: transparent;
}

.projects .card .text {
  padding: 20px;
}

.projects .card h3 {
  color: var(--alt-main);
  font-size: 24px;
  margin-bottom: 10px;
}

.projects .card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--background);
}

.projects .card .btn {
  background-color: var(--alt-main);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--background);
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.projects .card a {
  transition: 0.3s;
}

.projects .card a:hover .btn {
  background-color: var(--main-color);
  border-color: var(--background);
}




.about .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.about .skills .skill {
  display: flex;
  align-items: center;
}

.about .skills .skill .skill-name {
  width: 160px;
  font-size: 24px;
  font-weight: bold;
}

.about .skills .skill .prog {
  width: 70%;
  height: 40px;
  background-color: var(--text);
  border-radius: 8px;
  overflow: hidden;
}

.about .skills .skill-prog {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
  transition: width 0.3s linear;
}

.about p {
  margin-top: 80px;
  font-size: 18px;
  color: var(--text);
  line-height: 26px;
}

.about .mobile-p {
  display: none;
}

.about p span {
  color: var(--main-color);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: top left;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: top left;
  }
}