html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

p,
a {
  font-size: 1.125rem;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --black: #000000;
  --background: #151515;
  --main-color: #FE1F27;
  --alt-main: #750B0A;
  --text: #EEEEEE;
  --gredient: linear-gradient(98.73deg, var(--main-color) -52.43%, rgba(254, 31, 39, 0) 82.99%);
  --alt-gredient: linear-gradient(98.73deg, var(--main-color) -52.43%, rgba(254, 31, 39, 0) 82.99%);
  --settings-back: linear-gradient(98.73deg, var(--background) -52.43%, rgba(167, 167, 167, 0.1) 82.99%);
  --background-img:
}

/* Style the scrollbar track */


::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

body {
  background-color: var(--background);
  color: var(--background);
  width: 100%;
  height: 100vh;
  color: var(--text);
  overflow: hidden;
  background-image: var(--background-img);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

html.dark-mode {
  --background: #151515;
  --text: #EEEEEE;
}

html:not(.dark-mode) {
  --background: #EEEEEE;
  --text: #151515;
}

header {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  z-index: 999;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  background-color: transparent;
  border: var(--main-color);
  padding: 10px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  transition: 0.3s;

}




header nav a:hover::after {
  display: block;
}

header nav i {
  color: var(--text);
  font-size: 1.5rem;
  padding: 25px;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .active i {
  background: var(--gredient);
  filter: blur(10%);
}

header nav .active i:hover {
  color: #EEEEEE;
}

header i:hover,
header .logo:hover {
  color: var(--alt-main);
}

.social {
  position: fixed;
  z-index: 999;
  left: 30%;
  bottom: 30px;
  transform: translate(-50%);
}

.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social ul a {
  color: var(--main-color);
  font-size: 1.375rem;
  transition: 0.3s;
}

.social ul a:hover {
  color: var(--alt-main);
}


.settings {
  position: fixed;
  z-index: 999;
  left: 80%;
  bottom: 35px;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.settings i {
  color: var(--main-color);
  font-size: 1.375rem;
  transition: 0.3s;
}

.settings i:hover {
  color: var(--alt-main);
}

.settings .set-list {
  transition: 0.3s;
  opacity: 0%;
  margin-bottom: 20px;

}

.settings .open {
  opacity: 100%;
  display: block;
}


.settings .set-list ul {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 1px solid var(--alt-main);
}

.settings .set-list li {
  background: var(--settings-back);
  padding: 20px 60px 20px 20px;
  border: 1px solid var(--alt-main);
  display: flex;
  align-items: center;
  gap: 10px;
}


.settings .color span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transition: 0.3s;
}

.settings .color .red {
  background-color: #FE1F27;
}

.settings .color .cyan {
  background-color: #3dcfda;
}

.settings .color .purble {
  background-color: #933dda;
}

.settings .color .active,
.settings .color span:hover {
  filter: brightness(0.5);
}

.set-list select {
  background-color: white;
  color: #000000;
}

section {
  position: absolute;
  width: 85%;
  height: 80%;
  border-radius: 20px;
  opacity: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


section .container {
  padding: 40px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 60px;

}

section .container * {
  z-index: 20;
}

.border-none {
  border: none
}

.border-normal {
  border: 1px solid var(--main-color);
}

section .border-animated * {
  z-index: 50;
}


.home {
  opacity: 100%;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home .text {
  width: 50%;
  text-align: center;
  color: var(--text);
}

.home h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home .text h2 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 2.875rem;
}

.home .homeImage {
  width: 590px;
  height: 590px;
  background-image: url(/images/red.png);
  background-size: cover;
}

.home .homeImage img {
  width: 100%;
  height: 100%;
}




.projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.projects .card {
  margin: auto;
  background-color: var(--text);
  border: 3px solid var(--main-color);
  color: var(--background);
  color: var(--text);
  overflow: hidden;
  max-width: 280px;
}

.projects .container .card .image img {
  width: 100%;
  height: 100%;
}

.projects .card .image {
  position: relative;
  width: 275px;
  height: 160px;
}

.projects .card .image::after {
  position: absolute;
  content: ' ';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1515158a;
  transition: 0.3s;

}

.projects .card:hover .image::after {
  background-color: transparent;
}

.projects .card .text {
  padding: 20px;
}

.projects .card h3 {
  color: var(--alt-main);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.projects .card p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--background);
}

.projects .card .btn {
  background-color: var(--alt-main);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--background);
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.projects .card a {
  transition: 0.3s;
}

.projects .card a:hover .btn {
  background-color: var(--main-color);
  border-color: var(--background);
}


.review .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.review .container .reviews {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.review .container .reviews .heading {
  color: var(--text);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 auto;
}

.review .container .reviews span {
  color: var(--main-color);
}

.review .container .reviews .box {
  background-color: transparent;
  border: 1px solid var(--main-color);
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 28px;
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.review .container .reviews .box.active {
  transform: translateX(0);
  opacity: 1;
}

.review .container .reviews .box .identity {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.review .container .reviews .box .identity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.review .container .reviews .box .identity .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--text);
}

.review .container .reviews .box .identity .avatar img {
  width: 100%;
  height: 100%;
}

.review .container .reviews .box p {
  font-size: 1rem;
  color: var(--text);
  font-weight: bold;
  line-height: 2.5;
}

.review .container .reviews .slide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.review .container .reviews .slide i {
  color: var(--main-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.review .container .reviews .slide i:hover {
  color: var(--alt-main);
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.about .skills .skill {
  display: flex;
  align-items: center;
}

.about .skills .skill .skill-name {
  width: 160px;
  font-size: 1.5rem;
  font-weight: bold;
}

.about .skills .skill .prog {
  width: 70%;
  height: 40px;
  background-color: var(--text);
  border-radius: 8px;
  overflow: hidden;
}

.about .skills .skill-prog {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  display: block;
  transition: 2s linear;
}

.about p {
  margin-top: 80px;
  font-size: 1.125rem;
  color: var(--text);
  line-height: 26px;
}

.about .mobile-p {
  display: none;
}

.about p span {
  color: var(--main-color);
}

.statics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.stats div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--text);
  border: 4px solid var(--text);
  background-image: linear-gradient(145deg, var(--main-color), var(--text));
  background-size: cover;
  background-repeat: no-repeat;
}

.stats span {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.contact .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;

}

.contact .contact-container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding: 20px;
  border: 5px solid var(--text);
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.contact .contact-container .contact-info .info {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact .contact-container .contact-info .info div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact .contact-container .contact-info .info i {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: bold
}



.contact .contact-container .social-media {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact .contact-container .social-media a {
  font-size: 1.75rem;
  color: var(--main-color);
}

.contact .contact-container .contact-info .heading {
  border: 3px solid var(--text);
  color: var(--text);
  font-size: 1.75rem;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  border-radius: 45px;
  cursor: pointer;
  position: relative;
  transition: .3s;
  overflow: hidden;
  background-color: transparent;
}

.contact .contact-container .contact-info .heading h3 {
  z-index: 3;
  transition: 0.5s;
}

.contact .contact-container .get-in .heading::after,
.contact .contact-container .get-in .heading::before {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  content: '';
  background-color: var(--background);
  height: 110%;
  width: 50%;
  z-index: -1;
  transition: .5s;
}

.contact .contact-container .heading::after,
.contact .contact-container .heading::before {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  content: '';
  background-color: var(--text);
  height: 110%;
  width: 50%;
  z-index: -1;
  transition: .5s;
}

.contact .contact-container .heading::after {
  left: -135px;
}


.contact .contact-container .heading::before {
  right: -135px;
}

.contact .contact-container .heading:hover::after {
  left: 0;
}

.contact .contact-container .heading:hover::before {
  right: 0;
}

.contact .contact-container .contact-info .heading:hover h3 {
  color: var(--background);
}

.contact .get-in {
  width: 50%;
  height: 100%;
  background-color: var(--background);
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact .get-in .heading {
  background-color: var(--text);
  border: 2px solid var(--text);
  margin: 0 auto;
  color: var(--text);
  font-size: 1.75rem;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  border-radius: 45px;
  cursor: pointer;
  position: relative;
  transition: .3s;
  overflow: hidden;
  transition: 0.5s;
  color: var(--background);
}

.get-in .heading:hover {
  color: var(--text);
}

.contact .get-in.heading h3 {
  z-index: 3;
  transition: 0.5s;
}

.contact .message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
}

.contact .message form * {
  border: none;
  outline: none;
  background-color: var(--text);
}

form {
  display: flex;
  flex-wrap: wrap;
}



form input {
  flex-basis: calc(50% - 10px);
  padding: 10px;
  margin-bottom: 20px;

}

form input,
form textarea {
  caret-color: var(--background);
  color: var(--background);
}

form #name {
  margin-right: 20px;
}

form input {
  border-radius: 10px;
}

textarea {
  flex-basis: 100%;
  resize: none;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
}

.contact .message form button {
  background-color: var(--text);
  color: var(--background);
  font-weight: bold;
  border-radius: 25px;
  width: fit-content;
  padding: 15px 40px;
  margin: 20px auto 0 auto;
  transition: 0.5s;
}

.contact .message form button:hover {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--text)
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: top left;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: top left;
  }
}





section.active {
  opacity: 1;
  z-index: 3;
  transform: translateX(0);
}

section.next {
  transform: translateX(100%);
}

section.prev {
  transform: translateX(-100%);
}
